/* page */
page {
  background: var(--background);
  color: var(--text);
}

* {
  color: var(--text);
}

/* actionBar */
.actionBar {
  width: 100%;
  font-size: 25px;
  padding: 25px;
  background: var(--secondary);
}

.goBackIcon {
  margin-right: 60px;
  margin-left: 20px;
  font-size: 30px;
}

/* scrollView */
.scrollView {
  height: 600px;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

/* option */
.option {
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
  padding: 30px;
  
}

.optionIcon {
  width: 120px;
  text-align: center;
}
/* input option */
.inputOption {
  flex-direction: column;
}

.inputTitle {
    color: var(--text);
}

.input {
  color: var(--text);
  background-color: var(--secondary);
  padding: 20px;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

/* done button */
.doneButton {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--primary);
    margin: 30px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 0;
}

/* result text */
.resultText {
  margin: 30px;
  margin-top: 0;
  font-size: 14px;
}

.resultText > .fas {
  margin-right: 10px;
}

.green > * {
  color: var(--primary);
}

.red > * {
  color: rgb(255, 86, 86);
}